{% extends 'store/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">PRODUCTOS</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">${{ product.price }}</p>
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Más Detalles</a>
                        <button class="btn btn-success" data-toggle="modal" data-target="#quantityModal{{ product.id }}">Agregar al Carrito</button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="quantityModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="quantityModalLabel{{ product.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="quantityModalLabel{{ product.id }}">cantidad a comprar {{ product.name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{% url 'add_to_cart' product.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="quantity">Cantidad</label>
                                    <input type="number" name="quantity" value="1" min="1" class="form-control" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Agregar al carrito</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
