<!-- templates/store/cart.html -->
{% load custom_filters %}  <!-- Asegúrate de cargar tus filtros personalizados -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Recibo de Compra</title>
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-4 text-center">Recibo de Compra</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in products %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price }} COP</td>
                    <td>{{ item.product.price|multiply:item.quantity }} COP</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <h4>Total a Pagar: {{ total }} COP</h4>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
